*{
	margin: 0;
	padding: 0;

}
body{
	overflow: hidden;
	background-color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
}
#container { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:1440px;
	height:1024px;
	position:absolute;
	display: none;
    margin: 0px 40px;
}
.container-bg{ 
	background-image: url(./images/Group\ 69_red.svg);
	width:300px;
	height:513.6239013671875px;
	position:absolute;
	left:570px;
	top:81px;

}
.based_in_liverpool { 
	color:rgba(200.00000327825546, 16.000000946223736, 46.000001057982445, 1);
	width:623px;
	height:61px;
	position:absolute;
	left:162px;
	top:220px;
	font-family:Firme-Thin;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
	line-height: 25px;
	
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
      
    }
  }
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    50%{
        opacity: 0;
    }
    100% {
      z-index: -1;
    }
  }



#homepage { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:1440px;
    margin: 0px 40px;
	height:1024px;
	position:absolute;
	display: none;
}
.container-bg-2 { 
	
	width:300px;
	height:513.6239013671875px;
	position:absolute;
	left:570px;
	top:81px;
    background-image: url(./images/Group\ 69.svg);
}
.header_content{ 
	color:rgba(17.00000088661909, 17.00000088661909, 17.00000088661909, 1);
	width:1116px;
	height:470px;
	position:absolute;
	left:162px;
	top:141px;
	font-family:Firme-Thin;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
	line-height: 60px;
}
.navbar{ 
	width:1116px;
	height:70px;
	position:absolute;
	left:162px;
	top:10px;
}
.ioannis_chalellis { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:234px;
	height:106.52173614501953px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Allison;
	text-align:left;
	font-size:55px;
	letter-spacing:0;
}
.portfolio { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:62px;
	height:21.30434799194336px;
	position:absolute;
	left:983px;
	top:43.00029754638672px;
	font-family:Firme-Book;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height: 0px;
    cursor: pointer;
}
.portfolio ,.about {
    text-decoration: none;
    color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
    cursor: pointer;
}
.about { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:47px;
	height:21.30434799194336px;
	position:absolute;
	left:1065px;
	top:43.00029754638672px;
	font-family:Firme-Book;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height: 0px;
    cursor: pointer;
}

#progress{
	box-shadow: 8px 8px 8px rgb(0 0 0 / 25%);
	width: 500px;
	height: 20px;
	position: absolute;
	border-radius: 15px;
	filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.25));
	border: 3px solid rgba(218, 218, 218, 1)
	
	
}

#progress-value{
	box-shadow: 8px 8px 8px rgb(0 0 0 / 25%);
	background-color: rgba(119.00000050663948, 119.00000050663948, 119.00000050663948, 1);
	width: 0%;
	height: 20px;
	position: relative;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
   
}


#progress-bar{
	left: 515px;
	top: 50px;
	position: absolute;
	display: block;
}
#percentage{
	position: relative;
	left: 190px;
	font-size: 60px;
	line-height: 65px;
	font-weight: 100;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	margin-top: 30vh;
	margin-bottom: 20px;
}
#prt-1,#prt-2,#prt-3,#prt-4,#prt-5{
	font-size: 60px;
	line-height: 70.31px;
	width: 100%;
	height: 72px;
	text-align: center;
	margin-top: 15vh;
	margin-bottom: 15vh;
	display: none;
	position: absolute;
}
